includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - packages/
    excludePaths:
        - packages/verbs-flux
        - **/*Test.php
        - packages/**/config/*.php
        - **/build/phpstan/cache/**
        - **/build/phpstan/resultCache.php
        - packages/*/vendor
        - packages/*/vendor/**
        - app/SetCashierModelCommand.php

    level: 5

    scanFiles:
        - _ide_helper_models.php

    treatPhpDocTypesAsCertain: false

    ignoreErrors: []
