includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - packages/
    excludePaths:
        - packages/verbs-flux
        - **/*Test.php
        - packages/**/config/*.php
        - **/build/phpstan/cache/**
        - **/build/phpstan/resultCache.php

    level: 5

    treatPhpDocTypesAsCertain: false

    ignoreErrors: []
